{
	"presets": [
	  "es2015",
	  "react"
	],
	"plugins": [
		["module-resolver", {
				"alias": {
					"platform": "./src/platform/" ,
					"common": "./src/common",
					"utils": "./src/utils"
				}
			}
		],
		"dynamic-import-webpack"
	]
}
