body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #E8E0CC;
}

.parent-wrapper {
  margin: 0 auto;
  width: 800px;
  overflow: hidden;
}

.links,
.example {
    background-color: #FFF;
}

.links {
  list-style-type: none;
  padding: 10px;
  position: fixed;
  width: 140px;
}

.content {
  margin: 0 0 0 170px;
}

.content .example p {
  background-color: #eee;
  margin: 4px 0;
  padding-left: 10px;
}

a {
  color: #00B7FF;
}

.example {
	border: 1px solid grey;
	margin: 10px 0;
	padding: 10px;
}

pre.example {
    border: 2px solid grey;
	font-size: 9pt;
    font-weight: bold;
    color: #555;
    tab-size: 4;
}
