extends layout

block content
  h1(class='main-title')= title
  p(class='welcome-title') Welcome to #{title}
    pre(id='example-1' class="example")
    pre(id='example-2' class="example")
    pre(id='example-3' class="example")
    pre(id='example-4' class="example")
    pre(id='example-5' class="example")
    pre(id='example-6' class="example")
    pre(id='example-7' class="example")
    pre(id='example-8' class="example")
    pre(id='example-9' class="example")
    pre(id='example-10' class="example")
    pre(id='example-11' class="example")
    pre(id='example-12' class="example")
    pre(id='example-13' class="example")
    pre(id='example-14' class="example")